html {
  font-size: 10px;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  /* background-color: red; */
}
a:visited{
  text-decoration: none;
}
.text_center{
  text-align: center;
}

.container_1000 {
  max-width: 1000px;
  margin: 0 auto;
}
.menu_inline {
  list-style: none;
}
.menu_inline li {
  display: inline;
  margin-right: 20px;
  text-transform: uppercase;
}
.menu_inline li a {
  text-decoration: none;
  color: black;
  font-size: 1.1em;
  font-weight: bold;
}

header {
  background-color: white;
}
.header-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  line-height: 80px;
  background-color: white;
}
.header_logo {
  vertical-align: middle;
}
.header_menu li{
  text-align: left;
  margin-right: 25px;
}
.header_menu_lang li:not(:last-child) {
  border-right: 1px solid black;
  padding-right: 20px;
}
.ico_hamburger {
  float: right;
  font-size: 3.7em;
  line-height: 80px;
  vertical-align: middle;
}

.lg_display_none {
  display: none;
}
.lg_display_block {
  display: block;
}

.jumbo {
  position: relative;
  height: 400px;
  margin-top: 80px;
  background-image: url(../img/hero-bg.jpg);
  background-size: cover;
  background-position: center;
}
.jumbo_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  text-align: center;
  color: white;
}
.jumbo_text h1 {
  font-size: 4em;
  margin-bottom: 0.8rem;
}
.jumbo_text p {
  font-size: 1.5em;
  margin-bottom: 0.8rem;
}
/* INIZIO MAIN */
/* --> Presentation */
.presentation .boxes{
  background-color: #FAFAFA;
  margin-top: 100px;
  margin-bottom: 100px;
}
.boxes_left{
  margin-right: 30px;
}
.boxes_right{
  margin-left: 30px;
}
.presentation .box_title{
  height: 150px;
  padding-top: 100px;
}
.presentation h2{
  font-size: 2rem;
  margin: 30px 0;
}
.presentation a{
  font-size: 1.5rem;
  text-decoration: none;
  display: block;
}
.presentation a:after{
  content: '>';
  margin-left: 20px;
}
.presentation .box_img{
  height: 600px;
  padding-top: 100px;
}
/* --> who */
.who{
  position: relative;
}
.who .slider{
  height: 600px;
  background-image: url(../img/HelbizBanner.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.who .slider_iphone{
  height: 600px;
  margin-top: 300px;
}
.who .slider_text{
  margin-top: 600px;
}
.who .slider_text h2{
  font-size: 4rem;
  margin: 50px 0;
}
.who .slider_text h3{
  font-size: 2.5rem;
  margin-top: 50px;
}
.who .slider_text h4{
  font-size: 2rem;
  margin-top: 10px;
}
/* --> blocks */
.blocks .one_row{
  position: relative;
  background-image: url(../img/ScooterHelbiz-2400.jpg);
  background-size: cover;
  height: 500px;
}
.blocks .one_row_text{
  width: 33%;
  position: absolute;
  top:20%;
  right: 9%;
  text-align: center;
  color: #fff;
}
.blocks h2{
  font-size: 5rem;
}
.blocks h3{
  font-size: 2rem;
}
.blocks a{
  font-size: 2.5rem;
  line-height: 7rem;
  text-decoration: none;
  display: block;
}
.blocks a:after{
  content: '>';
  margin-left: 20px;
}
.blocks .two_row_left{
  position: relative;
  height: 600px;
  margin-top: 60px;
  background: linear-gradient(#41566a,#252f38);
}
.blocks .two_row_left img{
  position: absolute;
  bottom: 0;
  width: 97%;
}
.blocks .two_row_right{
  position: relative;
  height: 600px;
  margin-top: 60px;
  background-image: url(../img/Cities-1500.jpg);
  background-position: center;
  background-size: cover;
}

.blocks .two_row_left_text,
.blocks .two_row_right_text{
  width: 100%;
  position: absolute;
  top:50px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-align: center;
}
.blocks .two_row_left_text h2,
.blocks .two_row_right_text h2{
  margin: 10px 0;
}
.blocks .two_row_left_text h3,
.blocks .two_row_right_text h3{
  margin: 15px 0;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  /* regole header */
  .header-top {
    padding: 0 2%;
  }
  .md_display_block {
    display: block;
  }
  .md_display_none {
    display: none;
  }
  .jumbo_text a {
    width: calc(100% / 4);
    display: inline-block;
  }
  .jumbo_text a img {
    width: 100%;
  }
  /* regole main */
  .presentation .box_title{
    height: 115px;
    padding-top: 80px;
  }
  .presentation h2{
    font-size: 1.5rem;
    margin: 20px 0;
  }
  .presentation a{
    font-size: 1.3rem;
  }
  .presentation .box_img{
    height: 400px;
    padding-top: 80px;
  }
  /* / presentation */
  .who .slider_text h2{
    font-size: 3rem;
  }
  .who .slider_text h3{
    font-size: 2rem;
  }
  .who .slider_text h4{
    font-size: 1.5rem;
  }
  .who .col-md-4{
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 8px;
  }
  /* regole header */
  .header-top {
    padding: 0 2%;
  }
  .xs_display_block {
    display: block;
  }
  .xs_display_none {
    display: none;
  }
  .jumbo_text h1 {
    font-size: 3.5em;
    margin-bottom: 0.8rem;
  }
  .jumbo_text p {
    font-size: 2em;
    margin-bottom: 0.8rem;
  }
  .jumbo_text a {
    width: calc(100% / 5);
    display: inline-block;
  }
  .jumbo_text a img {
    width: 100%;
  }
  /* regole main */
  .presentation .boxes_left{
    margin-right: 0;
  }
  .presentation .boxes_right{
    margin-left: 0;
  }
  .presentation .boxes{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .presentation .box_title{
    height: 115px;
    padding-top: 80px;
  }
  .presentation h2{
    font-size: 1.5rem;
    margin: 20px 0;
  }
  .presentation a{
    font-size: 1.2rem;
  }
  .presentation .box_img{
    height: 400px;
    padding-top: 80px;
  }
  /* / presentation */

}
